[Unit]
Description=op25-liq

[Service]
WorkingDirectory=%h/op25/op25/gr-op25_repeater/apps
ExecStart=/usr/bin/liquidsoap op25.liq
RestartSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
